/* @layer base {
    :root {
        --color-black: #000;
        --color-white: #fff;

        --color-grey-50: #f8fafc;
        --color-grey-100: #f1f5f9;
        --color-grey-200: #e2e8f0;
        --color-grey-300: #cbd5e1;
        --color-grey-400: #94a3b8;
        --color-grey-500: #64748b;
        --color-grey-600: #475569;
        --color-grey-700: #334155;
        --color-grey-800: #1e293b;
        --color-grey-900: #0f172a;
        --color-grey-950: #020617;

        --color-yellow-50: #fffbeb;
        --color-yellow-100: 254, 243, 199;
        --color-yellow-200: #fde68a;
        --color-yellow-300: #fcd34d;
        --color-yellow-400: #fbbf24;
        --color-yellow-500: #f59e0b;
        --color-yellow-600: #d97706;
        --color-yellow-700: #b45309;
        --color-yellow-800: #92400e;
        --color-yellow-900: #78350f;
        --color-yellow-950: #451a03;

        --color-green-50: #ecfdf5;
        --color-green-100: #d1fae5;
        --color-green-200: #a7f3d0;
        --color-green-300: #6ee7b7;
        --color-green-400: #34d399;
        --color-green-500: #10b981;
        --color-green-600: #059669;
        --color-green-700: #047857;
        --color-green-800: #065f46;
        --color-green-900: #064e3b;
        --color-green-950: #022c22;

        --color-blue-50: #f0f9ff;
        --color-blue-100: #e0f2fe;
        --color-blue-200: #bae6fd;
        --color-blue-300: #7dd3fc;
        --color-blue-400: #38bdf8;
        --color-blue-500: #0ea5e9;
        --color-blue-600: #0284c7;
        --color-blue-700: #0369a1;
        --color-blue-800: #075985;
        --color-blue-900: #0c4a6e;
        --color-blue-950: #082f49;

        --color-red-50: #fef2f2;
        --color-red-100: #fee2e2;
        --color-red-200: #fecaca;
        --color-red-300: #fca5a5;
        --color-red-400: #f87171;
        --color-red-500: #ef4444;
        --color-red-600: #dc2626;
        --color-red-700: #b91c1c;
        --color-red-800: #991b1b;
        --color-red-900: #7f1d1d;
        --color-red-950: #450a0a;
    }
} */

:root {
    --color-black: #000;
    --color-white: #fff;

    --color-grey-50: #f8fafc;
    --color-grey-100: #f1f5f9;
    --color-grey-200: #e2e8f0;
    --color-grey-300: #cbd5e1;
    --color-grey-400: #94a3b8;
    --color-grey-500: #64748b;
    --color-grey-600: #475569;
    --color-grey-700: #334155;
    --color-grey-800: #1e293b;
    --color-grey-900: #0f172a;
    --color-grey-950: #020617;

    --color-yellow-50: #fffbeb;
    --color-yellow-100: 254, 243, 199;
    --color-yellow-200: #fde68a;
    --color-yellow-300: #fcd34d;
    --color-yellow-400: #fbbf24;
    --color-yellow-500: #f59e0b;
    --color-yellow-600: #d97706;
    --color-yellow-700: #b45309;
    --color-yellow-800: #92400e;
    --color-yellow-900: #78350f;
    --color-yellow-950: #451a03;

    --color-green-50: #ecfdf5;
    --color-green-100: #d1fae5;
    --color-green-200: #a7f3d0;
    --color-green-300: #6ee7b7;
    --color-green-400: #34d399;
    --color-green-500: #10b981;
    --color-green-600: #059669;
    --color-green-700: #047857;
    --color-green-800: #065f46;
    --color-green-900: #064e3b;
    --color-green-950: #022c22;

    --color-blue-50: #f0f9ff;
    --color-blue-100: #e0f2fe;
    --color-blue-200: #bae6fd;
    --color-blue-300: #7dd3fc;
    --color-blue-400: #38bdf8;
    --color-blue-500: #0ea5e9;
    --color-blue-600: #0284c7;
    --color-blue-700: #0369a1;
    --color-blue-800: #075985;
    --color-blue-900: #0c4a6e;
    --color-blue-950: #082f49;

    --color-red-50: #fef2f2;
    --color-red-100: #fee2e2;
    --color-red-200: #fecaca;
    --color-red-300: #fca5a5;
    --color-red-400: #f87171;
    --color-red-500: #ef4444;
    --color-red-600: #dc2626;
    --color-red-700: #b91c1c;
    --color-red-800: #991b1b;
    --color-red-900: #7f1d1d;
    --color-red-950: #450a0a;
}