@layer components {
    .bg-yellow-gradient {
        background: linear-gradient(0, var(--color-yellow-500), 95%, var(--color-red-200));
    }
    .bg-red-gradient {
        background: linear-gradient(0, var(--color-red-500), 5%, var(--color-red-400));
    }
    
    .emphasis-gradient {
        @apply
            bg-clip-text;

        -webkit-text-fill-color: transparent;
    }

    [x-cloak] {
        @apply hidden;
    }
}