---
import BaseLayout from "@layouts/base.astro";
import moment from "moment";
import { CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { title, date } = Astro.props.data;

const { Content } = await post.render();
---

<BaseLayout>
  <article class="w-11/12 lg:w-full container mx-auto mt-4">
    <div class="mb-8">
      <h1 class="pb-5 border-b border-cyan">{title}</h1>
      <h4 class="mt-2 text-right text-green">{moment( date ).format('dddd MM YYYYY')}</h4>
    </div>

    <Content />
  </article>
</BaseLayout>

<style>
article {
  h1 {
    @apply text-6xl;
  }

  h2 {
    @apply text-opacity-90 text-4xl pb-2;
  }

  h3 {
    @apply text-orange text-opacity-60 text-3xl;
  }

  h4 {
    @apply text-orange text-opacity-60 text-2xl;
  }

  h5 {
    @apply text-orange text-opacity-60 text-xl;
  }

  h6 {
    @apply text-orange text-opacity-60 text-lg;
  }

  p, ul {
    @apply text-darker-300 text-lg;

    + h2, + h3, + h4, + h5, + h6 {
      @apply mt-6;
    }
  }

  p {
    + p {
      @apply my-4;
    }
  }

  h2, h3, h4, h5, h6 {
    + p, + ol, +ul, +aside, {
      @apply mt-0;
    }
  }

  ul, ol {}

  ul {
    @apply p-4 ml-2;
    
    li::before {
      @apply text-pink mr-1 font-bold;
      content: ">";
    }

    li > ul {
      @apply py-1;
    }
  }

  strong {
    @apply text-purple;
  }

  hr {
    @apply py-2 mt-4 text-cyan opacity-50;
  }
}
</style>
