---
import BaseLayout from "../../layouts/base.astro";

import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.date.valueOf() - b.data.date.valueOf()
);
---

<BaseLayout>
<section>
    <ul>
        {
            posts.map((post) => (
                <li>
                    <a href={`/blog/${post.slug}/`}>
                        <h2 class="title">{post.data.title}</h2>
                        <p class="date">
                            {post.data.date}
                        </p>
                    </a>
                </li>
            ))
        }
    </ul>
</section>
</BaseLayout>
