---
const { icon, color, experience, label } = Astro.props.skill
const max_years = 25
---
<div class=`skill-bar ${color}`>
  <div class="skill-bar-label">
    <i class=`skill-bar-icon ${icon}`></i>
    <h4 class=`text-xl`>{label}</h4>
  </div>
  <div class="flex flex-row items-center">
    <div class=`skill-bar-bar` style=`width: ${(experience.years / max_years) * 100}%;`>
      <p class=`skill-bar-experience`>{experience.years}{experience.moreThan && '+'} year{experience.years > 1 && 's'}</p>
    </div>
    <span class="skill-bar-endcap"></span>
  </div>
</div>
