---
import BaseLayout from "@layouts/base.astro";
import PillButton from "@components/pillButton.astro";

import Slider from "@components/slider/Slider.astro";
import { social_media } from "@js/data/social";

import { getCollection, getEntries } from 'astro:content'

const projects_collection = await getCollection('projects')
// console.log(projects_collection)
const projects = await getEntries(projects_collection)

// console.log(projects_collection)
// console.log(projects)
---

<BaseLayout>
  <section class="fancy-border container py-4 mb-4 mx-auto w-full flex flex-col items-center">
    <div class="flex flex-row w-full mx-auto p-0">
      <div class="w-1/2 bg-dark py-5 rounded-tl rounded-bl">
        <h3>get to know me</h3>
        <div class="grid grid-cols-3 gap-x-3">
          <PillButton color="cyan" url="/about-me">a bit about me</PillButton>
          <PillButton color="green" url="/resume.pdf" target="_blank">my resume</PillButton>
          <PillButton color="pink" url="/blog">some thoughts?</PillButton>
        </div>
      </div>
      <div class="bg-dark border-l-2 border-l-blue w-1/2 py-5 px-2 ml-6">
        <div class="pl-4">
          <h3>social media</h3>
          <ul class="flex flex-row">
          {social_media.map((item) =>
            <li class="mr-4 last:mr-0 text-4xl">
              <a href={item.url} target="_blank">
                <i class=`nf ${item.icon} ${item.classes}`></i>
              </a>
            </li>
          )}
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container mx-auto w-full">
      <h3>some projects I'm working on</h3>
      <Slider items={projects} />
    </div>
  </section>
</BaseLayout>

<style lang="postcss">
  h3 {
    @apply text-yellow text-4xl pb-4 font-bold;
  }

  h4 {
    @apply text-light-400 font-bold;
  }
</style>
