---
import BaseLayout from "../layouts/base.astro";
// import PillButton from "../components/pillButton.svelte";
import PillButton from "@components/pillButton.astro";
---

<BaseLayout>
  <div class="Home">
    <h2 class="text-center emphasis-gradient bg-yellow-gradient pb-4">
      So what do you need?
    </h2>
    <div class="flex flex-row items-start justify-start">
      <PillButton url="/work">a short bit about me</PillButton>
      <h4 class="mx-5">,</h4>
      <PillButton url="/resume.pdf" target="_blank">my Resume</PillButton>
      <h4 class="mx-5">or</h4>
      <PillButton url="/blog">some thoughts?</PillButton>
    </div>
  </div>
</BaseLayout>
