---
import BaseLayout from "@layouts/base.astro";

import Slider from "@components/slider/Slider.astro";
---

<BaseLayout>
  <section class="container mx-auto w-full">
    <Slider />
  </section>
</BaseLayout>
