---
const { url = "#", target } = Astro.props;

const possible_colors = [
  "text-cyan",
  "text-pink",
  "text-yellow",
  "text-purple",
];
---

<a
  class={possible_colors[Math.floor(Math.random() * possible_colors.length)]}
  href={url}
  {target}
>
  <slot>Button Text</slot>
</a>

<style lang="postcss">
a {
  @apply px-3;
}
</style>
