---
const { url = "#", target, color = "default", classes = "" } = Astro.props;
---

<a class={`${color} ${classes}`} href={url} {target}>
  <slot>Button Text</slot>
</a>

<style lang="postcss">
a {
  @apply px-3 py-2 rounded-sm text-center text-darker font-bold bg-transparent border-b-2 transition-all;
  @apply min-w-[140px];

  &.default {
    @apply border-darker text-darker;

    &:hover {
      @apply border-transparent text-light bg-darker;
    }
  }

  &.green {
    @apply border-green text-green;

    &:hover {
      @apply border-transparent text-darker bg-green;
    }
  }

  &.cyan {
    @apply border-cyan text-cyan;

    &:hover {
      @apply border-transparent text-darker bg-cyan;
    }
  }

  &.pink {
    @apply border-pink text-pink;

    &:hover {
      @apply border-transparent text-darker bg-pink;
    }
  }

  &.purple {
    @apply border-purple text-purple;

    &:hover {
      @apply border-transparent text-darker bg-purple;
    }
  }

  &.yellow {
    @apply border-yellow text-yellow;

    &:hover {
      @apply border-transparent text-darker bg-yellow;
    }
  }
}
</style>
