<div
  class="flex items-center justify-center"
  x-data="{ value: false }"
  x-id="['toggle-label']"
>
  <input type="hidden" name="current_theme" :value="value">

  <!-- Label -->
  <label :id="$id('toggle-label')">
    <span class="sr-only">Light/Dark Mode</span>
  </label>

  <!-- Button -->
  <button 
    x-ref="toggle"
    @click="value = ! value"
    type="button"
    role="switch"
    :aria-checked="value"
    :aria-labelledby="$id('toggle-label')"
    :class="value ? 'bg-darker-700' : 'bg-darker-300'"
    class="relative ml-4 inline-flex w-14 rounded-full py-1 transition"
  >
    <span
      :class="value ? 'translate-x-7' : 'translate-x-1 bg-darker-500'"
      class="bg-darker-900 h-6 w-6 rounded-full transition shadow-md"
      aria-hidden="true"
    >
      <i class="nf" :class="value ? 'nf-fa-cloud_moon text-dark-700' : 'nf-fa-cloud_sun text-dark-500'"></i>
    </span>
  </button>
</div>
