---
import { ViewTransitions } from "astro:transitions";
import { Image } from 'astro:assets';
import favicon from '@img/favicon.ico';

// import "../css/icons.css";
import "../css/tailwind.css";

import Header from "@layouts/header.astro";
import Footer from "@layouts/footer.astro";

// import * as main from '../js/main.js';

const { title = 'justin, a dev' } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <link rel="icon" type="image/svg+xml" href={favicon} />

    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>{title} | astro'd out</title>

    <link rel="stylesheet" href="https://www.nerdfonts.com/assets/css/webfont.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <ViewTransitions />

  </head>
  <body>
    <Header />
    <main transition:animate="slide">
      <slot />
    </main>
    <Footer />
  </body>
</html>
