<footer>
  <ul class="Footer-tech">
    <li class="pr-3 border-r border-yellow-500">
      <span class="font-semibold">hosted on</span>
      <a href="https://pages.github.com/" target="_blank">GitHub Pages</a>
    </li>
  </ul>
  <div>
    <p><span>copyright</span> 2023</p>
  </div>
</footer>
