---
import { MenuItem } from "@js/data/menu";

const { title = "hi, my name is justin" } = Astro.props;

import { menu_data } from "@js/data/menu";
---

<header>
  <div class="container mx-auto w-full flex flex-row">
    <h1>{title}</h1>
    <ul>
      {
        menu_data.map((item: MenuItem) => (
          <li>
            <a href={item.url}>{item.label}</a>
          </li>
        ))
      }
    </ul>
  </div>
</header>
