---
import type { MenuItem } from "@js/data/menu";

import { menu_data } from "@js/data/menu";
---

<header>
  <div class="container mx-auto w-full flex flex-row justify-between">
    <div class="nf nf-dev-terminal">
      {"{justin}"}
    </div>
    <ul class="flex flex-row">
      {
        menu_data.map((item: MenuItem) => (
          <li>
            <a href={item.url}>{item.label}</a>
          </li>
        ))
      }
    </ul>
  </div>
</header>
