---
import SwiperSlide from './Slide.astro'
import 'swiper/css';
import { marked } from 'marked';

const { items:slides = [] } = Astro.props

const parse_markdown = text => {
 return marked.parse(text) 
}
---

<script>
import Swiper from 'swiper';

const _slideshow = new Swiper('.swiper', {})
</script>

<div class="swiper">
  <div class="swiper-wrapper">

    <!-- <div class="swiper-slide">huh</div> -->
    <!-- <div class="swiper-slide">huh</div> -->
    <!-- <div class="swiper-slide">huh</div> -->
    <!-- <div class="swiper-slide">huh</div> -->
    {slides.map(item => 
      <SwiperSlide>
        <h2>{item.data.title}</h1>
        <Fragment set:html={parse_markdown(item.body)} />
      </SwiperSlide>
    )}
  </div>
</div>

<style is:global>
.swiper {
  h2 {
    @apply text-4xl text-orange mb-4;
  }

  h3 {
    @apply text-3xl text-orange lowercase italic mb-4;
  }

  p {
    @apply text-2xl text-darker-100 mb-8;
  }
}
</style>
