---
import SwiperSlide from './Slide.astro'
import 'swiper/css';
const { items:slides = [] } = Astro.props
---

<script>
import Swiper from 'swiper';

const _slideshow = new Swiper('.swiper', {})
</script>

<div class="swiper">
  <div class="swiper-wrapper">

    <!-- <div class="swiper-slide">huh</div> -->
    <!-- <div class="swiper-slide">huh</div> -->
    <!-- <div class="swiper-slide">huh</div> -->
    <!-- <div class="swiper-slide">huh</div> -->
    {slides.map(item => 
      <SwiperSlide>
        <h2>{item.data.title}</h1>
        <Fragment set:html={item.body} />
      </SwiperSlide>
    )}
  </div>
</div>
